@page
@model TagModel
@{
    ViewData["Title"] = "List";
}

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
    $(document).ready(function () {
        alert('@ViewData["Message"]');
        });
    </script>
}

@if (!User.Identity.IsAuthenticated)
    {
        <div class="row" style="display: block; align-content: center; justify-content: center; margin: 2rem;">
            <h1 class="text-black-50">Welcome to GitTagApp</h1>
            <p>Please log in to access full functionalities:</p>
            <a asp-action="Login" asp-controller="Login" class="btn btn-primary">Log In with GitHub</a>
        </div>
    }
 else
 {
     <h1 class="text-black-50">
         Tag
     </h1>
     <p>
         Here, we can add, edit and remove tags from starred repositories.
         Tags will make it easier to find repositories, allowing search by tag funcionality.
         Just add the desired tags and be happy!<br>
         To create new tags, just click on <strong>Add tags</strong> button, fill the form and voila!<br>
         To edit existing tags, click on <strong>Edit tags</strong> button, make the desired changes and save them.<br>
         To delete tags, just click on <strong>Delete tags</strong> button and select the tag to remove.
     </p>

     <div id="accordion" class="container-fluid">
         <div class="card">
             <div class="card-header" id="headingOne">
                 <h5 class="mb-0">
                     <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse-create" aria-expanded="true" aria-controls="collapse-create">
                         Add tags
                     </button>
                 </h5>
             </div>
             <div id="collapse-create" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion">
                 <div class="card-body">        
                     <form class="form-horizontal" asp-page-handler="create" method="post" style="padding-left: 10px; margin: 10px; width: 90%; height: 65px;; display: flex; justify-content: space-evenly; align-items: baseline;">
                         <div class="form-group">
                             <label asp-for="Repositories" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b; position: relative">
                                 Repository:
                             </label>
                             <div class="col-sm-10">
                                 <select class="custom-select-sm" name="starredRepoId" asp-items="Model.RepoOptions" style="margin-top: 3px;; border-radius: 0.3rem; border: 1px solid #95999c; color: #4e555b; width: 10rem; height: 2rem;"></select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label asp-for="Tag" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b;">
                                 Enter tag name:
                             </label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" asp-for="Tag.Name" style="height: 2rem; border-radius: 0.3rem; border: 1px solid #95999c;margin: 3px;;"/><br/>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="col-sm-offset-2 col-sm-10">
                                 <button class="btn btn-primary" type="submit" style="height: 3rem; width: auto; margin-top: 10px; align-items: center; justify-content: center">
                                     Save
                                 </button>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
         <div class="card">
             <div class="card-header" id="heading-2">
                 <h5 class="mb-0">
                     <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapse-edit" aria-expanded="false" aria-controls="collapse-edit">
                         Edit tags
                     </button>
                 </h5>
             </div>
             <div id="collapse-edit" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                 <div class="card-body">
                     <form class="form-horizontal" asp-page-handler="update" method="post" style="padding-left: 10px; margin: 10px; width: 90%; height: 65px;; display: flex; justify-content: space-evenly; align-items: baseline;">
                         <div class="form-group">
                             <label asp-for="Repositories" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b; position: relative">
                                 Repository:
                             </label>
                             <div class="col-sm-10">
                                 <select class="custom-select-sm" name="starredRepoId" asp-items="Model.RepoOptions" style="margin-top: 3px;; border-radius: 0.3rem; border: 1px solid #95999c; color: #4e555b; width: 10rem; height: 2rem;"></select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label asp-for="Tag" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b;">
                                 Tag:
                             </label>
                             <div class="col-sm-10">
                                 <select class="custom-select-sm" name="tagId" asp-items="Model.TagOptions" style="margin-top: 3px;; border-radius: 0.3rem; border: 1px solid #95999c; color: #4e555b; width: 10rem; height: 2rem;"></select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label asp-for="Tag" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b;">
                                 Changes:
                             </label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" asp-for="Tag.Name" style="height: 2rem; border-radius: 0.3rem; border: 1px solid #95999c;margin: 3px;;"/><br/>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="col-sm-offset-2 col-sm-10">
                                 <button class="btn btn-primary" type="submit" style="height: 3rem; width: auto; margin-top: 10px; align-items: center; justify-content: center">
                                     Save
                                 </button>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
         <div class="card">
              <div class="card-header" id="heading-3">
                  <h5 class="mb-0">
                      <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapse-delete" aria-expanded="false" aria-controls="collapse-delete">
                          Delete tags
                      </button>
                  </h5>
              </div>
              <div id="collapse-delete" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                  <div class="card-body">
                      <form class="form-horizontal" asp-page-handler="delete" method="post" style="padding-left: 10px; margin: 10px; width: 90%; height: 65px;; display: flex; justify-content: space-evenly; align-items: baseline;">
                          <div class="form-group">
                              <label asp-for="Repositories" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b; position: relative">
                                  Repository:
                              </label>
                              <div class="col-sm-10">
                                  <select class="custom-select-sm" name="starredRepoId" asp-items="Model.RepoOptions" style="margin-top: 3px;; border-radius: 0.3rem; border: 1px solid #95999c; color: #4e555b; width: 10rem; height: 2rem;"></select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label asp-for="Tag" class="custom-control-label" style="margin: 3px; font-size: 16px; color: #4e555b;">
                                  Tag:
                              </label>
                              <div class="col-sm-10">
                                  <select class="custom-select-sm" name="tagId" asp-items="Model.TagOptions" style="margin-top: 3px;; border-radius: 0.3rem; border: 1px solid #95999c; color: #4e555b; width: 10rem; height: 2rem;"></select>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button id="btn-delete" class="btn btn-primary" type="submit" style="height: 3rem; width: auto; margin-top: 10px; align-items: center; justify-content: center; ">
                                      Delete
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
     </div>
 }

